<h1>Sign In</h1>

<form class="" action="<%=session_url%>" method="post">
  <%= auth_token %>

  <input type="text" name="user[username]" id="username"value="<%=  %>" >

  <input type="password" name="user[password]" id="password" value="<%=  %>">

  <input type="submit" value="Sign in" id="signin">
</form>
